html, body {
    margin: 0px;
    padding: 0px;
}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #DE3C4B;
    color: #FBF5F3;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 100%;
    padding: 10px;
}

.nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-left: 1px solid rgba(0, 0, 0, 0.253);
    border-right: 1px solid black;
}

.logo-area {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-left: 40px;
    width: 100%;
}

.logo-area > h3 {
    margin: 0px;
    padding: 0px;
    align-self: center;
}

.header-area {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.header-area > h2 {
    margin: 0px;
    padding: 0px;
    align-self: center;
}

.link-area {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-right: 40px;
    gap: 10px;
    width: 100%;
}

.link-area > a {
    margin: 0px;
    padding: 0px;
    align-self: center;
}