<div class="main-page">

  <div class="navbar">
    <div class="nav-container">
      <div class="logo-area">
        <!-- <h3>Logo</h3> -->
        <img class="logo" src="lorebuilderlogo2.png"/>
      </div>
      <div class="link-area">
        <div class="link-border">
          <a class="link-effect" href="social"><h3>Social</h3></a>
          <a class="link-effect" href="characters"><h3>Characters</h3></a>
          <a class="link-effect" href="campaigns"><h3>Campaigns</h3></a>
          <a class="link-effect" href="about"><h3>About</h3></a>
        </div>
      </div>
      <div class="login-register">
        <a class="link-effect" href=""><h3>Login</h3></a>
        <a class="link-effect" href=""><h3>Register</h3></a>
      </div>
    </div>
  </div>

  <div class="body-area">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <p>Footer</p>
  </div>

</div>