<div class="main-page">
    <div class="project-description">
        <h1>LoreBuilder</h1>
        <p>
            LoreBuilder is a website that is inspired by DND Beyond. LoreBuilder is a fantasy 
            character creation website allowing users to create unique fleshed out characters 
            with stats, spells, equipment, etc. A stretch goal is to let users print out sheets 
            of their character for roleplay or use in a game of your choice. Lorem ipsum dolor 
            sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
            et dolore magna aliqua. Donec pretium vulputate sapien nec sagittis aliquam. Arcu 
            cursus vitae congue mauris rhoncus. Eget dolor morbi non arcu risus quis varius. 
            Amet mauris commodo quis imperdiet massa tincidunt nunc. Ultrices dui sapien eget mi 
            proin sed libero enim sed. Proin libero nunc consequat interdum varius. Nulla facilisi 
            morbi tempus iaculis urna id. In mollis nunc sed id semper. Velit scelerisque in dictum 
            non consectetur a erat.
        </p>
    </div>
    <div class="developers">
        <div class="gh-user-card">
            <div class="gh-user-img">
                <img class="prof-img" src="https://avatars.githubusercontent.com/u/101856161?v=4"/>
            </div>
            <div class="gh-user-content">
                <h1>Anthony Alvarez</h1>
                <h3>Front End - Team Lead</h3>
                <p>
                    Hey y'all! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Donec pretium 
                    vulputate sapien nec sagittis aliquam. Arcu cursus vitae congue mauris rhoncus. 
                    Eget dolor morbi non arcu risus quis varius. Amet mauris commodo quis imperdiet 
                    massa tincidunt nunc. Ultrices dui sapien eget mi proin sed libero enim sed. 
                    Proin libero nunc consequat interdum varius. Nulla facilisi morbi tempus iaculis 
                    urna id. In mollis nunc sed id semper. Velit scelerisque in dictum non consectetur 
                    a erat.
                </p>
            </div>
        </div>
        <div class="gh-user-card">
            <div class="gh-user-img">
                <img class="prof-img" src="https://avatars.githubusercontent.com/u/60456427?v=4"/>
            </div>
            <div class="gh-user-content">
                <h1>Aaron Chao</h1>
                <h3>Back End</h3>
                <p>
                    Hey y'all! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Donec pretium 
                    vulputate sapien nec sagittis aliquam. Arcu cursus vitae congue mauris rhoncus. 
                    Eget dolor morbi non arcu risus quis varius. Amet mauris commodo quis imperdiet 
                    massa tincidunt nunc. Ultrices dui sapien eget mi proin sed libero enim sed. 
                    Proin libero nunc consequat interdum varius. Nulla facilisi morbi tempus iaculis 
                    urna id. In mollis nunc sed id semper. Velit scelerisque in dictum non consectetur 
                    a erat.
                </p>
            </div>
        </div>
    </div>
</div>